<h1>Editing Discipline University</h1>

<%= render 'form', discipline_university: @discipline_university %>

<%= link_to 'Show', @discipline_university %> |
<%= link_to 'Back', discipline_universities_path %>
